{% extends 'webspace/base.html' %}

{% block content %}
  <a href='{% url index %}'>Upload</a>
  
  <table id='file_list'>
    <tr>
      <th>Filename</th>
      <th>Uploaded Date</th>
    </tr>
    
    {% for file in files %}
      <tr>
        <td><a href='{{ file.get_absolute_url }}'>{{ file.name }}</a></td>
        <td>{{ file.uploaded_date }}</td>
        <td><a href='{% url deletefile user_id=file.user.pk slug=file.slug %}'>Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}