body{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  color:#AAA;
}
.hidden{
  display:none;
}
a{
  color:#DDD;
  font-size:15pt;
}
#file_list{
  width:500px
}
#file_list td{
  width:50%;
  text-align:center
}